Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
src/test/resources/application-test.yml
src/test/resources/gcp-service-account.yml
data/


src/test/java/io/kestra/plugin/singer/taps/GitHubTest.java
src/test/java/io/kestra/plugin/singer/taps/GitlabTest.java
src/test/java/io/kestra/plugin/singer/taps/SlackTest.java
src/test/java/io/kestra/plugin/singer/taps/CrowDevTest.java
